md-tabs .md-tab.md-active {
  color: black;
  font-weight: bold;
}

p { 
  text-indent: 30px;
  padding: 0 0 0 30px;
}

ul {
  list-style-type: none;
  padding: 2px;
}

.center {
  text-align: center;
}

.card {
  width: 700px;
  padding: 25px;
  margin: 10px auto 0px auto;
}

.jobCard {
  width: 900px;
  padding: 25px;
  margin: 10px auto 0px auto;
}

.name {
  font-size: 100px;
  color: #E2E2E2;
  display: inline;
  height: 100%;
  
}

.shortName {
  font-size: 60px;
  font-weight: bold;
  color: #E2E2E2;
  display: block;
  text-align: center;
}

#header {
  background: black;
  color: #E2E2E2;
}

#title {
  font-size: 46px;
  color: #E2E2E2; 
}

.cardTitle {
  font-size: 25px;
  display: inline-block;
}

.schoolName {
  font-size: 28px;
}

.dates {
  float: right;
  padding: 11px 0 0 0;
}

#endorsementStatement {
  text-indent: 30px;
}


@media only screen and (max-width: 920px) {
  #title {
    display: none;
  }
  .card, #aboutMe {
    width: 95%;
  }
}

@media only screen and (max-width: 370px) {
  .name, #title {
    display: none;
  }
  #header {
    padding: 0px;
  }
  #jobTitle {
    padding-left: 10px;
  }
}

@media only screen and (min-width: 371px) {
  .shortName {
    display: none;
  }
}
