* {
  font-family: 'Roboto', sans-serif;
}

md-tabs .md-tab.md-active {
  color: #00bcd4;
  font-weight: bold;
}

a {
  color: #00bcd4;
}

p { 
  text-indent: 30px;
}

ul {
  list-style-type: none;
  padding: 2px;
}

.center {
  text-align: center;
}

.card {
  width: 700px;
  padding: 15px;
  margin: 10px auto 0px auto;
}

.jobCard {
  width: 900px;
  padding: 15px;
  margin: 10px auto 0px auto;
}

.name {
  font-size: 90px;
  color: #E2E2E2;
  display: inline;
  height: 100%;
  font-weight: lighter;
}

#header {
  background: #00bcd4;
  color: #E2E2E2;
}

#title {
  font-size: 30px;
  color: #E2E2E2;
  font-weight: lighter;
}

.cardTitle {
  font-size: 18px;
  display: inline-block;
}

.dates {
  float: right;
  padding: 11px 0 0 0;
}

@media only screen and (max-width: 920px) {
  #title {
    display: none;
  }
  .card, .jobCard, #aboutMe {
    width: 95%;
  }
  .name {
    font-size: 50px;
  }
}
