<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>William Rinaldi</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.1/docs.css'>
  <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css'>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div ng-app="MyApp"> 
  <md-content  ng-controller='resumeController'>
    <div id="header">
      <div class="center">
        <span ng-bind="bio.firstName" class="name"></span>
        <span ng-bind="bio.lastName" class="name"></span>
      </div>
      <div class="center">
        <div ng-bind="bio.intro" class="shortName"></div>
        <div ng-bind="bio.nickName" class="shortName"></div>
      </div>
      <div class="center" ng-bind="bio.title" id='title'></div>
      </br>
    </div>
    <md-tabs md-center-tabs="true" md-border-bottom="" md-dynamic-height="" md-selected="selectedTab">
      <md-tab label="About Me">
        <md-content>
          <md-card class="card">
            <div>
              <p ng-repeat="paragraph in bio.myStory">{{paragraph}}</p>
            </div>
          </md-card>
        </md-content>
      </md-tab>
      <md-tab label="Experience">
        <md-content class="md-padding" >
              <div>
                <md-card class="card" ng-repeat='job in jobs'>
                  <div>
                    <span class="cardTitle">{{job.employer}}</span>
                    <span class="cardTitle">{{job.title}}</span>
                    <span class="dates">{{job.dates}}</span>                    
                  </div>
                  </br>
                    <ul id="jobDescription" ng-repeat="item in job.description">
                      <li>{{item}}</li>
                    </ul>
                  <br>
                </md-card>
              </div>          
        </md-content>
      </md-tab>
      <md-tab label="Education">
        <md-content class="md-padding">
          <h1 class="md-display-2"></h1>
            <div>
              <md-input-container ng-show="items1.length">
                <label>Search</label>
                <input id='itemSearch' ng-model="filterText">
                </md-input-container>
                <md-card class="card">
                  <div>
                    <span class="cardTitle">{{education.college.name}}</span>
                    <span class="dates">{{education.college.dates}}</span>
                  </div>
                  <div>
                    <span class="cardTitle">{{education.college.degree}}</span>
                    <span>{{education.college.major}}</span><br>
                  </div>
                </md-card>
                <md-card class="card" ng-repeat="nanodegree in education.nanodegrees">
                  <div>
                    <span class="cardTitle"> {{nanodegree.school + nanodegree.title}} </span>
                    <span class="dates">{{nanodegree.dates}}</span><br>
                  </div>
                    <ul ng-repeat="item in nanodegree.courses">
                      <li>{{item}}</li>
                    </ul>
                      
                </md-card>
                  
              </div>          
        </md-content>
      </md-tab>
      <md-tab label="Endorsements">
        <md-content class="md-padding">        
            <div>
                <md-card class="card" id="endorsementCard" ng-repeat='endorsement in endorsements'>
                  <span id="endorsementStatement"> {{endorsement.statement}} </span><br>
                  <span id="endorserName">{{endorsement.endorser}}</span><br>
                </md-card>
            </div>         
        </md-content>
      </md-tab>
      <md-tab label="Contact">
        <md-content class="md-padding">
          <md-card class="card">
            <div>
                  <span class="md-subhead" id="itemHeadline">Email: {{bio.contacts.email}}</span></br>
                  <span class="md-subhead"  id="itemDescription">Mobile: {{bio.contacts.mobile}}</span></br>
                  <span class="md-subhead"  id="itemDescription">Location: {{bio.contacts.location}}</span></br>
          </div></br>
          <div>
            <a href="https://github.com/wtRinaldi" class="md-subhead">GitHub</a></br>
            <a href="https://www.linkedin.com/in/wtrinaldi/" class="md-subhead">LinkedIn</a>
          </div>
          </md-card>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js'></script>

    <script  src="js/index.js"></script>

</body>
</html>
